pip
numpy
pandas
openpyxl
pathvalidate
matplotlib
python-dateutil
holidays
ipynbname
html5lib
bs4
lxml
pyarrow>=12.0.0
# Ensure JupyterLab is installed
jupyterlab

# Extension to render MyST Markdown in JupyterLab
jupyterlab-myst

# (Optional but recommended) Allows you to open and run .md files as notebooks
jupytext
