[Desktop Entry]
Encoding=UTF-8
Name=Link to Manage your delivery
Type=Link
URL=https://www.amazon.com/gp/r.html?C=1790AFH8RNRRE&K=30KYVY4Z7G5XU&M=urn:rtn:msg:202607060114430993d6601a7144e3896735f29df0p0na&R=2E09AKAPEFVMF&T=C&U=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fsubscribe-and-save%2Fmanage%3FshipId%3Dljrosshskjp%26experience%3Dddp%26ref_%3Dpe_122043850_1028231000_OD_02_01_BT_06__em_rd&H=5AV3XAQHXZNKOM7FUZGREV9YVB8A&ref_=pe_122043850_1028231000_OD_02_01_BT_06__em_rd
Icon=text-html
